/* src/App.css */
header {
  margin: 200px 50px;
}

.search-container {
  max-width: 500px;
  margin: 0 auto;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 5px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
}
